<log4net>
  <!-- Define some output appenders -->

  <appender name="RedisLogAppender" type="Log2Redis.RedisPubAppender,Log2Redis">
    <param name="Host" value="localhost"/>
    <param name="Port" value="6379"/>

    <!--<param name="Topic" value="%logger/%level" />-->
    <param name="Topic" value="Test" />

    <!--<parameter>
      <parameterName value="@channel" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger/%level" />
      </layout>
    </parameter>-->

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger [%thread] - %message" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG"/>
    </filter>
  </appender>

  <!-- Setup the root category, add the appenders and set the default level -->
  <root>
    <level value="ALL"/>
    <!--<appender-ref ref="RollingFileLogAppender"/>-->
    <appender-ref ref="RedisLogAppender" />
  </root>
  <logger name="ConsoleApp1">
    <!--<appender-ref ref="EventLogAppender" />-->
  </logger>
</log4net>